; Specifies which .ini file to load when running the application standalone
; (i.e. by launching the executable directly, without Playnite).
[configToLoad]
configToLoad = default.ini

; ---------------------------------------------------------------
; Hotkey information:
; ^ = Ctrl   |   + = Shift   |   ! = Alt   |   # = Win (modifiers)
;
; - Do NOT use combinations with two or more "base keys".
;   See: https://www.autoitscript.com/autoit3/docs/functions/HotKeySet.htm

; - Set the hotkey in the form ^+5
;   ok:  ^+5
;   not:    {LShift}{LCtrl}5
; ---------------------------------------------------------------
[Hotkey]
Hotkey 		= ^+5