; ===============================================================
; Standalone Profile Loader
; ---------------------------------------------------------------
; This file specifies which .ini file to load
; when running the application standalone (outside of Playnite).
;
; - Keep this file in the application folder.
; ===============================================================

[configToLoad]
configToLoad = default.ini

